@model Tenaris.Tamsa.HRM.Fat2.DataAccess.Models.Tool_Tool

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<style>
    #feedback {
        font-size: 1.4em;
    }

    #tymenu .ui-selecting {
        background: #FECA40;
    }

    #tymenu .ui-selected {
        background: #c804b8;
        color: white;
    }

    #tymenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 90%;
    }

        #tymenu li {
            margin: 3px;
            padding: 0.4em;
            font-size: 1.4em;
            height: 18px;
        }
    #contTypes {
        width:50%;
        float:left;
        background-color:#c804b8;        
    }
    #contProperty {
        float:left;
           background-color:#FECA40;     
    }

    #dCreateTool {
       width:80%;
       height:300px;
        float:left;
        background-color:#808080;
    }
</style>

<script>
    $(function () {

        $("#tymenu").selectable({
            selected: function (event, ui) {
                var idtype = ui.selected.id;                
                document.forms["frmGetProperties"].elements["idType"].value = idtype;
                //document.forms["frmGetProperties"].submit();
                $("#frmGetProperties").submit();
                
            }
        });

    });
</script>

<h2>Crear Herramienta</h2>

<div id="dCreateTool">

    <div id="contTypes">
        <ol id="tymenu">
            @foreach (var item in ViewBag.idType)
            {
                <li id="@item.Value" class="ui-widget-content">@item.Text</li>
            }
        </ol>
    </div>
    <div id="contProperty">        
    </div>
</div>

@using (Ajax.BeginForm("GetProperties", "Property", FormMethod.Post, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "contProperty"
}, new { @name = "frmGetProperties", @id = "frmGetProperties" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.idType);
}




