@model IEnumerable<Tenaris.Tamsa.HRM.Fat2.WebTools.Models.Tool_vm>

@{
    ViewBag.Title = "Create";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10, selectionFieldName: "SelectedRow");
    grid.Pager(WebGridPagerModes.All);



    List<WebGridColumn> cols = new List<WebGridColumn>();
    
    int addId = 0;
    int numProperties = 0;
    if (Model.Count() > 0)
    {
        numProperties = Model.FirstOrDefault().Properties.Count;         
    }
    
    
    for (int i = 0; i < numProperties; i++)
    {
        int local = i;
        byte[] intBytes = BitConverter.GetBytes(Model.ElementAt(0).Properties[local].ViewUI);
        if ((intBytes[0] & (1 << 1 - 1)) != 0)
        {
            if (addId == 0)
            {
                //@<text><div id="@item.IdCatalog">@item.IdType</div></text>
                cols.Add(grid.Column(Model.FirstOrDefault().Properties[i].Name, Model.FirstOrDefault().Properties[i].Name,
                 format: item => Html.Raw("<text><div id="+ item.IdType + ">" + item.Properties[local].Value + "</div></text>")));
                addId++;         
            }
            else
            {
                if (addId == 1)
                {
                    cols.Add(grid.Column(Model.FirstOrDefault().Properties[i].Name, Model.FirstOrDefault().Properties[i].Name,
                        format: item => Html.Raw("<text><div id=" + item.idTool + ">" + item.Properties[local].Value + "</div></text>")));
                    addId++;
                }
                else
                { 
                    cols.Add(grid.Column(Model.FirstOrDefault().Properties[i].Name, Model.FirstOrDefault().Properties[i].Name,
                        format: item => Html.Raw("<text>" + item.Properties[local].Value + "</text>")
                        ));
                }
            }
        }
    }

}
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<style>
    #feedback {
        font-size: 1.4em;
    }

    #tymenu .ui-selecting {
        background: #FECA40;
    }

    #tymenu .ui-selected {
        background: #c804b8;
        color: white;
    }

    #tymenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 90%;
    }

        #tymenu li {
            margin: 3px;
            padding: 0.4em;
            font-size: 1.4em;
            height: 18px;
        }

    #contTypes {
        width: 50%;
        float: left;
        background-color: #c804b8;
    }

    #contProperty {
        float: left;
        background-color: #FECA40;
    }

    #dCreateTool {
        width: 80%;
        height: 300px;
        float: left;
        background-color: #808080;
    }
    /*WebGrid*/
    .webgrid-table {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;
        width: 100%;
        display: table;
        background-color: #FFFFFF;
    }

        .webgrid-table td, th {
            border: 1px solid #808080;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #CCD9CC;
        color: #003366;
        padding-bottom: 4px;
        padding-top: 5px;
        font-size: 9pt;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #E5E5E5;
        padding: 3px 7px 2px;
    }

    #tHeader {
        background-color: #009999;
        color: #ffffff;
        font-family: Verdana;
        font-weight: bold;
        font-size: 12pt;
        text-align: center;
        height: 25px;
    }

    .clickable {
        cursor: pointer;
        background: #ffff99;
    }

    .selectRow {
        background-color: #660066;
        color: #FFFFFF;
    }

    /*Menu buttom*/
    .ulmenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

        .ulmenu li {
            float: left;
        }

            .ulmenu li a {
                display: block;
                padding: 8px;
                background-color: #dddddd;
            }

    .mbtn {
        width: 215px;
    }

    #content {
        border: 1px solid #808080;
        padding: 3px 3px 3px 3px;
    }

   

    #btnDetails {
        background-image: url(/Content/TenarisIcons/icon_search.png);
         background-repeat:no-repeat;
         background-size:16px;
         margin-top:5px; 
         width:150px; 
         font-size:10pt;
         font-weight:bold;
    }

    #btnEdit {
        background-image: url(/Content/TenarisIcons/icon_inprocess.png);
         background-repeat:no-repeat;
         background-size:16px;
         margin-top:5px; 
         width:150px; 
         font-size:10pt;
         font-weight:bold;
    }
    #btnNew {
        background-image: url(/Content/TenarisIcons/FileAdd16px.png);
         background-repeat:no-repeat;
         background-size:16px;
         margin-top:5px; 
         width:150px; 
         font-size:10pt;   
         font-weight:bold;     
    }
    #btnDelete {
        background-image: url(/Content/TenarisIcons/icon_close.png);
         background-repeat:no-repeat;
         background-size:16px;
         margin-top:5px; 
         width:150px; 
         font-size:10pt;
         font-weight:bold;
    }

    
</style>

<script>
    $(function () {

        $("#tymenu").selectable({
            selected: function (event, ui) {
                var idtype = ui.selected.id;
                document.forms["frmGetProperties"].elements["idType"].value = idtype;
                document.forms["frmGetProperties"].elements["fromDb"].value = true;
                //document.forms["frmGetProperties"].submit();
                $("#frmGetProperties").submit();
            }
        });

        $('#gridTools tbody tr').hover(function () {
            $(this).toggleClass('clickable');
        });
        // .on('click', function () {
        // location.href = '/Details/' + $(this).find('td:first').text();
        //});
        $('#gridTools tr').click(function () {

            $(this).addClass('selectRow');
            $('#gridTools tr').not(this).removeClass('selectRow');
            var IdTool = $(this).find("div").eq(1).attr('id');
            var idCatalog = $(this).find("div").eq(0).attr('id');

            $("#idTool").val(IdTool);
            $("#txtidCatalog").val(idCatalog);
        });

        if ($("#idTool").val().length > 0) {
            $("#idTool").val("0");
        }
        //if ($("#txtidCatalog").val().length > 0) {
        //    $("#txtidCatalog").val("0");
        //}

      

        $("#btnDetails").button().click(function () {
            var idTool = $("#idTool").val();
            var id = 0;
            if (idTool.length > 0)
            {
                id = idTool * 1;
            }
            if(id == 0)
            {
                alert("Selecione un renglon.");
                return false;
            }
            OpenDetailsPopup();
            //location.href = "@Url.Action("Details", "Tool")?IdCatalog=" + idTemp;
        });
        $("#btnEdit").button().click(function () {
            var idTool = $("#idTool").val();
            var id = 0;
            if (idTool.length > 0)
            {
                id = idTool * 1;
            }
            if(id == 0)
            {
                alert("Selecione un renglon.");
                return false;
            }
            OpenEditPopup();
        });
        $("#btnDelete").button().click(function () {
            var idTemp = $("#idTool").val();
            if (idTemp.length == 0 || idTemp == 0)
            { alert("Selecione un renglon."); return false; }
            if (confirm("Confirma que desea eliminar  la herramienta seleccionada")) {
                $.post("/Tool/Delete", { idTool: idTemp }, function (data) {
                    if (data.Success == 1) {
                        $("#frmSearch").submit();
                    }
                });
            }

        });
        //btnNew
        $("#btnNew").button().click(function () {
            OpenCreatePopup();
        });

        $body = $("body");

        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
    });

    function OpenCreatePopup() {
        var div = $("#DivToAppendPartialView");
        var idType = $("#txtidType").val();
        $.post("/Tool/New", { idType: idType,numCols : 2}, function (data) {
            div.html(data.dContent);
            
            div.dialog({
                modal: true,
                width: data.DialogWidth,
                //width: 1100,
                height: data.DialogHeight,
                title: "Nuevo - Punta",
                resizable: false,
                autoOpen: false,
                dialogClass: 'Tenaris',
            });
            div.parent('.ui-dialog').appendTo('.myCustomScope');
            div.dialog('open');

        });
    }

    function OpenDetailsPopup() {
        var div = $("#DivToAppendPartialView");
        var idTool = $("#idTool").val();
        $.post("/Tool/Details", { idTool: idTool, numCols: 2 }, function (data) {
            div.html(data.dContent);
            div.dialog({
                modal: true,
                width: data.DialogWidth,
                height: data.DialogHeight,
                title: "Detalles - Punta",
                resizable: false,
                autoOpen: false,
                dialogClass: 'Tenaris',
            });
            div.parent('.ui-dialog').appendTo('.myCustomScope');
            div.dialog('open');

        });

    }

    function OpenEditPopup() {
        var div = $("#DivToAppendPartialView");
        var idTool = $("#idTool").val();
        $.post("/Tool/Edit", { idTool: idTool, numCols: 2 }, function (data) {
            div.html(data.dContent);
            div.dialog({
                modal: true,
                width: data.DialogWidth,
                height: data.DialogHeight,
                title: "Editar - Punta",
                resizable: false,
                autoOpen: false,
                dialogClass: 'Tenaris',
            });
            div.parent('.ui-dialog').appendTo('.myCustomScope');
            div.dialog('open');
        });

    }

    function openProveedores(idProperty) {
        var div = $("#DivToAppendPartialView2");
        div.attr("background-color", "#009999");
        $.post("/Supplier/New", { idProperty : idProperty }, function (data) {
            div.html(data);
            div.dialog({
                modal: true,
                width: 420,
                height: 270,
                title: "Agregar - proveedores",
                resizable: false,
                autoOpen: false,
                dialogClass: 'Tenaris',
                buttons:   { "Aceptar": Add,
                     Cancel: function() {
                         div.dialog("close");
                }}
            });
            div.parent('.ui-dialog').appendTo('.myCustomScope');
            div.dialog('open');
        });
    }
</script>
<div class="col-md-12" style="font-size: 12pt;font-weight: bold; background-color:#009999; color:#FFFFFF; height:20px; text-align:center; vertical-align:middle; font-family: Verdana; margin-bottom:3px">
    Herramientas -  Puntas
</div>

@{Html.RenderPartial("PartialFilter");}


<div id="content" style="overflow-y:scroll">

    @grid.GetHtml(
                htmlAttributes: new { id = "gridTools" },
                tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
                columns: cols
    )
</div>
<input type="hidden" id="txtidType" value="@(ViewBag.idType)" />

<div id="gridFooter" class="Tenaris">
    <div class="row" style="border:1px solid #000; margin-top:1px; margin-bottom:1px">
        <div class="form-group">
            <div class="col-sm-6" style=" padding-bottom:5px">
                <input id="btnDetails" type=button value="Detalles" class="csbutton"/>
                <input id="btnEdit" type=button value="Modificar" class="csbutton" />
                <input id="btnNew" type=button value="Nueva" class="csbutton" />
                <input id="btnDelete" type=button value="Eliminar" class="csbutton" />
            </div>
        </div>
    </div> <!-- Fin del ROW del Botón Buscar -->
</div>

<div id="DivToAppendPartialView">
</div>
<div id="DivToAppendPartialView2">
</div>

@using (Ajax.BeginForm("/", "/", FormMethod.Post, new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "contProperty"
}, new { @name = "/", @id = "frmGetProperties" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.FirstOrDefault().idTool)
    <input type="hidden" name="fromDb" value="true" />
}

@using (Html.BeginForm("/", "/", FormMethod.Post,
    new { @name = "frmGoAction", @id = "frmGoAction" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.FirstOrDefault().idTool);
    <input type="hidden" name="fromDb" value="true" />
}




