@model Tenaris.Tamsa.HRM.Fat2.WebTools.Models.Tool_vm

@{
    Layout = null;
    int ColsControls = ViewBag.numCols;
    int index = 0;
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
     #dvfrmElements {
        border:1px solid #000; 
        margin-top:1px; 
        margin-bottom:1px; 
        margin-left:auto; 
        margin-right:auto;
        /*width:600px;*/
    }
        #dvfrmElements input {
            width:200px;
        }

         #dcombobox input {
                width:120px;
            }

         #dText input {
        width:200px;
    }
</style>

@using (Ajax.BeginForm("SaveEdit", "Tool", FormMethod.Post, new AjaxOptions { OnSuccess = "msjSuccess(data)" }, new { @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row" id="dvfrmElements">
        <table style="width: 100%; border-spacing: 2px;" class="tableData">
            @Html.Hidden("idTool", Model.idTool)
            @foreach (var property in Model.Properties)
            {
                HtmlString tr1 = new HtmlString("");
                HtmlString tr2 = new HtmlString("");
                if (index == 0)
                {
                    tr1 = new HtmlString("<tr>");

                }
                if (index == (ColsControls - 1))
                {
                    tr2 = new HtmlString("</tr>");
                }
                index++;
                if (index == ColsControls)
                {
                    index = 0;
                }
                @(tr1)


                <td class=" itemcell">
                    @{
                string proName = property.Name;
                bool isSupplierField = false;
                if (proName.ToUpper().Contains("provee".ToUpper()))
                {
                    //Es el campo de proveedores ligar a la lista de proveedores.
                    isSupplierField = true;
                }
                    }
                    @property.Name
                </td>
                <td class="itemcellValue">
                    @{
                        string tclass = "tc" + property.TypeName;
                    }
                    @if (isSupplierField)
                    {
                        <div id="dcombobox">
                            @*@Html.TextBox(property.idProperty.ToString(), "", new { @class = tclass })*@
                            <div style="float:left; width:120px;back">
                                @Html.DropDownList(property.idProperty.ToString(), (SelectList)ViewBag.Suppliers,"Seleccionar -->")
                            </div>
                            <div style="float:left">
                                <input type="button" id="btnSuppliers" onclick="openProveedores(@(property.idProperty.ToString()))" value="..." style="width:25px; height:25px" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="dText">
                            @Html.TextBox(property.idProperty.ToString(), property.Value.ToString(), new { @class = tclass })           
                        </div>
                    }
                </td>

                @(tr2)
            }
        </table>
    </div>

    <div id="gridFooter">
        <div class="form-group">
            <div class="col-sm-6" style=" padding-bottom:5px">
                <input id="btnOk" type=button value="Aceptar" class="csbutton" style="margin-top:5px; width:150px; font-size:10pt;" />
                <input id="btnCancel" type=button value="Cancelar" class="csbutton" style="margin-top:5px; width:150px; font-size:10pt;" />
            </div>
        </div>
    </div>

}

<script>
            function msjSuccess(data) {
                if (data.Success == 1)
                {
                    $("#DivToAppendPartialView").dialog("close");
                    $("#frmSearch").submit();
                }
                else {
                    alert(data.Message);
                    $("[name='" + data.element + "']").focus();
                }
            }

            $.datepicker.setDefaults($.datepicker.regional['es-MX']);
            //$(".tcFecha").val("@(DateTime.Now.ToString("dd/MM/yyy"))");
            $(".tcFecha").datepicker();
            $('#ui-datepicker-div').wrap('<div class="Tenaris"></div>');
            $('#btnCancel').button().click(function () {
                $("#DivToAppendPartialView").dialog("close");
            });
            $("#btnOk").button().click(function () {
                $("#frmEdit").submit();
            });

            $(".tcNumero").keyup(function () {
                if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            });

</script>
