@model Tenaris.Tamsa.HRM.Fat2.DataAccess.Models.Tool_Property

@{
    Layout = null;
}

    
    @using (Ajax.BeginForm("Create", "Property", FormMethod.Post, new AjaxOptions() { OnSuccess = "CallBackCreateProperty(data)" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Propiedades</legend>  
           
            <div class="editor-field">
                @Html.HiddenFor(model => model.idProperty)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.dataType)
            </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.dataType)
                    @Html.ValidationMessageFor(model => model.dataType)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Active)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active)
                </div>
           

                <p>
                    <button type="submit" value="Create" onclick="$('#frmGetProperties').submit();" class="Tenaris">Crear</button>
                </p>
</fieldset>
    }
<script>
    function CallBackCreateProperty(data)
    {
        if (data.result)
        {
            document.forms["frmGetProperties"].elements["idType"].value = data.idType;
            $("#frmGetProperties").submit();
        }
    }
</script>
    