@model Tenaris.Tamsa.HRM.Fat2.DataAccess.Models.Tool_Property

@{
    Layout = null;
}
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Tool_Property</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.idProperty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.idProperty)
                @Html.ValidationMessageFor(model => model.idProperty)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.dataType)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dataType)
                @Html.ValidationMessageFor(model => model.dataType)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Value)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Value)
                @Html.ValidationMessageFor(model => model.Value)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Active)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Active)
                @Html.ValidationMessageFor(model => model.Active)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    